html,body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif ;
}

header{
    text-align: center;
    background-color: blanchedalmond;
    padding:12px 24px;
}

#content{
    padding: 20px;
}

input[type=text],input[type="number"] {
    width: 20%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    float: inline-start;
}

table{
    border-collapse: separate;
    width: 100%;
    border-style: double;
}

th,td{
    text-align: left;
    border-style: double;
}

th{
    background-color: lightgray;
}

tr:nth-child(even){
    background-color: lightgray;
}

#submit-Btn{
    margin:8px;
    padding: 14px;
    font-family: 'Oswald' sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

#delete-Btn{
    margin: auto;
    padding: 10px;
    align-items: center;
}
